
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var intership = (List<WebQLThucTapSinh.Models.InternShip>)ViewBag.listin;
    WebDatabaseEntities database = new WebDatabaseEntities();
}
@using WebQLThucTapSinh.Models;
@model List<WebQLThucTapSinh.Common.TaskClass>
@{
    var roileId = int.Parse(@Session["Role"].ToString());
}
@if (roileId == 4)
{
    <a style="margin-top: 12px" href="/Tasks/Create" id="them" class="them btn btn-outline btn-primary">Thêm</a>
}
<input style="margin-top: 12px" class="form-control" id="myInput" type="text" placeholder="Search..">
<div class="example">
    <div class="col-md-7">
        <div class="dataTable_wrapper">
            <h2 style="width:100%;text-align:center">Danh sách bài học</h2>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Bài học</th>
                        @if (roileId == 2)
                        {
                            <th>Leader</th>
                        }
                        <th>Câu hỏi</th>
                        <th>Kiểm tra</th>
                        <th>Hoàn thành</th>
                        <th>Hoạt động</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center"><input name="dschon" type="checkbox" value="@item.TaskID" /> </td>
                        <td>@item.TaskName</td>
                        @if (roileId == 2)
                        {
                            <td>@item.FullName</td>
                        }
                        <td>@item.Questions</td>
                        <td>@item.NumberOfQuestions</td>
                        <td>@item.Result</td>
                        <td><a href="/Tasks/Edit/@item.TaskID" class="btn btn-outline btn-primary">Sửa</a>||
                        <a data-id="@item.TaskID" data-name="@item.TaskName" class="deleteTask btn btn-outline btn-primary">Xóa</a></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    @if (roileId == 4)
    {
        <div class="col-md-5 ban2">
            <div class="dataTable_wrapper">
                <h2 style="width:100%;text-align:center">Danh sách khóa học</h2>
                <table class="table table-striped table-bordered table-hover tableclick" style="margin-left: 47px">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Danh sách khóa học</th>
                        </tr>
                    </thead>
                    @{ int i = 1;}
                    @foreach (var item in intership)
                    {
                        var dem = i;
                        {
                            <tr>
                                <td>@dem</td>
                                <td><a class="btn-task" data-id="@item.InternshipID">@item.CourseName</a></td>
                            </tr>
                        }
                        i++;
                    }

                </table>
            </div>
        </div>
    }

</div>
<style>
    .tableclick a:active {
        color: aqua;
    }

    .tableclick a:visited {
        background-color: red !important;
    }
</style>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/admin.js"></script>

